#mainNav
{
	background-color: #FDF0FA; 
	height: 70px;
    border-bottom: 2px solid  #6C3C97;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

h1 {
    font: impact;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #fff;
    border-top: 2px solid  #6C3C97;    
    margin-top: 30px;
    }

footer ul 
{
    align-self: auto;
}

#kids
{
    height: 20px;
    width: 20px;
}

#logout
{
    height: 20px;
    width: 20px;
    color:  #6C3C97;
}

#login
{
    padding-bottom: 30px;
}

#newUser
{
    margin: 30px;
    width: 100px;
}