$dark-bg:white;
$roku-purple: #6C3C97;
$small: 589px;
$medium: 767px;
$large: 1023px;

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  